* {box-sizing: border-box;  margin: 0px;   padding: 0px;}
html {font-size: 62.5%;}

:root
    {
    --bitcoin-orange:#f7931a; 
    --soft-orange: #ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black:#201e1c;
    --black:#282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
    }

header
    {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    }
header img 
    {
    height:24px;
    width: auto;
    margin-top:60px;
    align-self: center;
    }
.header--title-container
    {
    width: 90%;
    min-width: 288;
    max-width: 900px;
    margin: top 50px;
    text-align: center;
    align-self: center;
}